<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}CCCD API{% endblock %}</title>
    
    <!-- Design System CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block body %}
    {% if request.endpoint and request.endpoint.startswith('portal.') and session.user_id %}
        {% include 'portal/header.html' %}
    {% endif %}
    
    <main role="main">
        {% block content %}{% endblock %}
    </main>
    
    {% block footer %}{% endblock %}
    
    {% block extra_js %}{% endblock %}
    {% endblock %}
</body>
</html>
